# Ignore everything by default
*

# Un-ignore specific files
!file1.txt
!file2.txt
!.gitignore

# Un-ignore specific folder and its contents
!folder_name/
!folder_name/**

# Un-ignore nvim folder and its contents
!nvim/
!nvim/**

# Un-ignore zed folder and its contents
!zed/
!zed/**
