# Ignore everything by default
*

# Un-ignore specific files
!file1.txt
!file2.txt
!.gitignore
!.zshrc
!.vimrc
!README.md

# Un-ignore specific folder and its contents
!folder_name/
!folder_name/**

# Un-ignore nvim folder and its contents
!nvim/
!nvim/**

# Un-ignore zed folder and its contents
!zed/
!zed/**


# Un-ignore alacritty folder and its contents
!alacritty/
!alacritty/**


# Un-ignore ghostty folder and its contents
!ghostty/
!ghostty/**

# Un-ignore hyprland folder and its contents
!hypr/
!hypr/**

# Un-ignore wallpaper folder and its contents
!wallpaper/
!wallpaper/**
